extends layout

block head
  h2.mdc-typography--headline #{title}

block content  
  h1.mdc-typography--headline Rule Master Demo App
  p Login to view a list of rules and the applications to which they belong
  br
  a(href="/login")
    button.mdc-button.mdc-button--raised.mdc-button--primary.mdc-ripple-surface(data-mdc-auto-init="MDCRipple") Login


  
